@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@100;300&family=Yanone+Kaffeesatz&display=swap');

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* VARIABLES */

:root {
  --OPACITY-BLACK: rgba(0, 0, 0, 0.2);
  --BLACK: black;
  --WHITE: white;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid var(--OPACITY-BLACK);
  width: 100%;
}

.h1-header {
  font-weight: 900;
  margin: auto;
}

.nav-header {
  display: flex;
  align-items: center;
  margin: auto;
}

.p-nav-header {
  cursor: pointer;
  margin: 1em;
}

.p-nav-header:hover {
  color: rgba(0, 0, 0, 0.5);;
}

.input-search-header {
  margin-right: 1em;
  height: 3vh;
  border: 1px solid var(--OPACITY-BLACK);
  border-radius: 30px;
  padding: 0.5em;
  outline: none;
}

.sub-btn {
  cursor: pointer;
  display: grid;
  place-content: center;
  height: 3vh;
  width: 7em;
  border-radius: 5px;
  background-color: var(--BLACK);
  color: var(--WHITE);
  padding: 0.4em;
}

.sub-btn:hover, .sub-btn:focus-visible {
  background-color: var(--WHITE);
  color: var(--BLACK);
}

.burger {
  background-color: transparent;
  border: none;
  display: none;
}

@media only screen and (max-width: 750px) {
   .burger {
    display: block;
    margin-right: 2em;
  }

  .p-nav-header, .input-search-header, .sub-btn {
    display: none;
  }

  .h1-header {
    margin-left: 1em;
  }

  .line-burger {
    height: 0.2em;
    width: 2.5em;
    margin: 0.6em;
    background-color: var(--BLACK);
  }

  .active-burger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 60vh;
    background-color: var(--BLACK);
    color: var(--WHITE);
    min-height: 50vh;
  }

  .active-burger > .p-nav-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-bottom: 1px solid var(--WHITE);
    width: 100%;
    padding: 1.5em;
    margin: 0;
  }
  
  .close-burger:first-child {
    height: 0.2em;
    width: 2.5em;
    margin: 0.6em;
    background-color: var(--BLACK);
    transform: rotate(45deg);
    transition: ease 0.2s;
  }

  .close-burger:nth-child(2) {
    height: 0.2em;
    width: 2.5em;
    margin: 0.6em;
    background-color: var(--BLACK);
    transform: rotate(135deg) translate(-0.55em, 0.6em);
    transition: ease 0.2s;
  }
} 